* {
    padding: 0px;
    margin: 0px;
}

main {
    padding-top: 3rem;
}

.mainBody {
    margin: 1rem;
}

li {
    list-style-type: none;
    color: white;
    padding: 1rem;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: rgb(54, 54, 54);
    position: fixed;
    transition: 1s;
    flex-direction: column;
}

.menuOut {
    height: 100vh;
}

.flex {
    cursor: pointer;
}

.dropDownMenu {
    overflow: hidden; 
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDownList {
    font-size: 2rem;
   
}

.linksOut {
    visibility: visible;
    transition: 10s;
}