* {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    color: white;
    padding: 1rem;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: ;
}

nav {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: rgb(54, 54, 54);
    position: fixed;
    transition: 1s;
}

.menuOut {
    height: 100vh;
}

.flex {
    cursor: pointer;
}