* {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: rgb(54, 54, 54);
    position: fixed;
}

.flexone {
  display: flex;
  align-items: center;
}
.flextwo {
   
